:root {
    --mainColor: #252734;
    --secondaryColor: #333646;
    --acsentColor: #ff9100;
}

body {
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: "ubuntu", sans-serif;
}

section h1 {
    color: #fff;
    font-size: 2.5rem;
}


/* Navbar */

.nav-link.active {
    color: var(--acsentColor) !important;
    font-weight: 700;
}


/* End Navbar */


/* Section Hero*/

.color-acsent {
    color: var(--acsentColor);
}

#hero {
    color: #fff;
    min-height: 100vh;
}

#hero h1 {
    font-size: 3rem;
}

#hero h2 {
    font-weight: 300;
}

#hero p {
    font-size: 1.1rem;
    font-weight: 300;
}


/* CTA */

.btn-custom-1 {
    background-color: var(--acsentColor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-custom-1:hover {
    box-shadow: 0 0 5px rgba(255, 168, 0, 0.8);
}


/* End CTA */


/* End Section Hero*/